@font-face {
    font-family: 'MyFont';
    src: url('../font/Helvetica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --heading_1_color: #0F172A;
    --secondary_color: #0891B2;
    --jet_gray: #2D2D2D;
    --nav_link: #999999;
    --btn_text: #FEFDFD;
    --black: #000;
    --white: #FFFFFF;
    --ox_blood: #78261A;
    --slate_gray: #475569;
    --alabaster: #F7F5F2;
    --turquoise: #1DAFCC;
    --ghostwhite: #F8FAFC;
    --pagination_bullet: #4C9EAA;
    --base_text_color: #4B5563;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'MyFont', sans-serif;
}

.container {
    max-width: 1340px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.heading_1,
.heading_2,
.heading_3 {
    font-size: 80px;
    line-height: 110px;
    font-weight: 400;
    color: var(--heading_1_color);
}

.heading_2 {
    font-size: 65px;
    line-height: 83px;
}

.heading_3 {
    font-size: 36px;
    line-height: 48px;
    color: var(--heading_1_color);

}

.sub_heading {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    color: var(--secondary_color);
}

.desc_text {
    font-size: 20px;
    font-weight: 400;
}

/* ===================== header section start ===================== */
#header {
    margin-top: 40px;
}

.nav {
    position: relative;
    z-index: 9999;
}

.nav_left {
    text-decoration: none;
    gap: 12px;
}

.nav_sub_heading {
    color: var(--jet_gray);
}

.nav_right {
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav_list {
    display: flex;
    gap: 8px;
}


.nav_links {
    font-size: 18px;
    color: var(--nav_link);
    border: 1px solid #BABABA;
    border-radius: 50px;
    line-height: 28px;
    text-decoration: none;
    padding: 10px 20px;
}

.nav_links:focus {
    border: 1px solid #222222;
    background: #222222;
    color: white;
}

.nav_btn {
    color: var(--btn_text);
    border-radius: 50px;
    background: #090909;
    padding: 14px 24px;
}

#menu_label #hamburger,
#menu_label #cancel {
    color: rgb(44, 59, 82);
    font-size: 22px;
    float: right;
    margin-right: 1px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* ===================== header section end ===================== */

/* ===================== banner section start ===================== */
.banner_container {
    margin-top: -45px;
}

/* .banner_container {
    -webkit-mask: url('../image/banner.svg') center / contain no-repeat;
} */

.banner_image {
    clip-path: polygon(0 8%, 12% 8%, 14% 0, 34% 0, 36% 8%, 100% 8%, 100% 51%, 45% 51%, 44% 61%, 11% 61%, 3% 54%, 0 51%);
}

.inner_b_container {
    display: flex;
    align-items: center;
    gap: 50px;
    top: 38%;
    right: 2%;
}

.banner_text {
    text-align: right;
    width: 330px;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color: var(--white);
}

.banner_user {
    width: 74px;
    height: 74px;
    object-fit: cover;
    margin-left: -20px;
    border-radius: 50px;
    position: relative;
}

.banner_user.user_1 {
    z-index: 9998;
}

.banner_user.user_2 {
    z-index: 9997;
}

/* ===================== banner section end ===================== */


/* ===================== hero section start ===================== */
#hero_section {
    margin-top: -284px;
    position: relative;
    z-index: 9990;
}

.review_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    top: -55px;
    right: 0;
}

.rating_num {
    font-size: 50px;
    font-weight: 700;
    color: var(--ox_blood);
    border-right: 2px solid var(--ox_blood);
    padding-right: 24px;
}

.hero_container {
    display: flex;
    justify-content: space-between;
}

.review_text {
    width: auto;
    text-align: left;
    color: var(--ox_blood);
}

.hero_svg_container {
    display: flex;
    justify-content: end;
}

.hero_svg_img {
    /* width: 95%; */
    margin-top: -10px;
}

.badge_container {
    left: -5px;
    bottom: 0;
    z-index: 9996;
}

.tea_user_img {
    width: 137px;
    height: 88px;
    border-radius: 32px;
    top: 0px;
    left: 12px;
}

.hero_bg_text_container {
    bottom: 18px;
    left: 190px;
}

.hero_bg_text {
    color: var(--slate_gray);
    margin-bottom: 10px !important;
}

.user_name {
    font-size: 20px;
    font-weight: 700;
    color: #5C4947;
}

/* ===================== hero section end ===================== */

/* ===================== galley_1 section start ===================== */
#gallery_1_section {
    padding: 64px 0 64px;
}

.g_bg_container {
    max-width: 997px;
    background: var(--alabaster);
    padding: 77px 26px 77px 0;
    margin-left: auto;
}

.inner_container {
    padding-right: 49px;
    align-items: center;
}

.video-container {
    width: 440px;
    height: 268px;
    cursor: pointer;
    margin-left: -187px;
    ;
}

.video-container video {
    width: 100%;
    height: 100%;
    display: block;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    background-color: var(--turquoise);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: all 0.3s ease;
}

.play-button:hover {
    transform: translate(-50%, -50%) scale(1.1);
}

.play-button::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 25px solid white;
    margin-left: 5px;
}

.video-container:hover .play-button {
    background-color: #1798b2;
}

.g_1_ellipse {
    top: -55px;
    z-index: 9990;
    left: 54%;
}

.g_1_right {
    max-width: 400px;
}

.g_1_right .sub_heading {
    margin-bottom: 12px;
}

.g_1_right .heading_3,
.g_1_desc {
    margin-bottom: 24px;
}

.g_1_desc {
    color: #3E3D3D;
}

.g_1_btn {
    border: none;
    outline: none;
    background: #262626;
    color: var(--white);
    padding: 12px 16px;
    gap: 12px;
    transition: all .3s ease-out;
}

.g_1_btn:hover {
    transform: scale(1.03);
}

/* ===================== galley_1 section end ===================== */


/* ===================== slider_1 section start ===================== */
#slider_1_section {
    padding: 64px 0;
    background: var(--ghostwhite);
}

.slider_1_container {
    padding-top: 30px;
}

.slide_1_top {
    max-width: 885px;
    margin-bottom: 100px;
}

.slide_1_heading {
    font-size: 32px;
    color: var(--secondary_color);
}

.slider_1_desc {
    color: var(--slate_gray);
}

.slide_1_bottom {
    padding: 26px 10px;
    background: var(--white);
}

.slide_wrapper {
    position: relative;
    margin: 0;
    padding: 0;
}

.carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.mySwiper_1 {
    width: 100%;
    height: 488px;
}

.mySwiper_1 .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.mySwiper_1 .swiper-slide-active {
    background: #ffeb3b;
    font-weight: bold;
    font-size: 24px;
}

.mySwiper_1 .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.my_swiper_1_btn_container {
    width: fit-content;
    margin-top: 48px;
}

.swiper_1_pagination {
    display: flex;
    align-items: center;
}

.swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 11px));
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 1.25px));
    display: inline-block;
    border-radius: var(--swiper-pagination-bullet-border-radius, 0%);
    background: var(--swiper-pagination-bullet-inactive-color, #000);
    opacity: var(--swiper-pagination-bullet-inactive-opacity, .2);
}

.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    height: var(--swiper-pagination-bullet-active-height, var(--swiper-pagination-bullet-size, 1.4px));
    background: var(--swiper-pagination-color, var(--pagination_bullet));
}

/* ===================== slider_1 section end ===================== */

/* ===================== slider_2 section start ===================== */
.slider_2_container {
    padding: 60px 15px;
    display: flex;
    gap: 120px;
}

.slide_2_top {
    max-width: 400px;
}

.mySwiper_2 {
    width: 100%;
    height: 488px;
}

.mySwiper_2 .swiper-slide {
    width: 40%;
}

.mySwiper_2 .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mySwiper_2 .swiper-slide-active {
    width: 65% !important;
}

.mySwiper_2 .swiper-slide-next {
    width: 35% !important;
}



/* ===================== slider_2 section end ===================== */